.contact-body{
    background-image: linear-gradient(#214977, #35357e);
    padding: 20px;
}
img{
    width: 200px;
    height: 200px;
    margin: auto;
    /* border: 2px solid gray; */
  
    align-items: center;
    justify-content: center;
    /* padding:50px */
}
.card{
    background-color:indianred ;
    color: lavenderblush;
   padding: 50px;
   margin: 30px 20px;
   border-radius: 20px;
}
.card:hover{
  background-color: rgba(98, 201, 98, 0.486);
  color: #214977;
}